{
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": false,
        "codeFrame": false
    },
    "extends": [
        "airbnb",
        "prettier"
    ],
    "env": {
        "browser": true,
        "jest": true
    },
    "rules": {
        "prefer-promise-reject-errors": [
            "off"
        ],
        "react/prop-types": [
            "warn"
        ],
        "no-return-assign": [
            "off"
        ],
        "comma-dangle": [
            "warn",
            "never"
        ],
        "indent": [
            "error",
            2
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "max-len": [
            "error",
            {
                "code": 120
            }
        ],
        "no-useless-escape": 0
    }
}