.main {
  height: 100%;
  .left-section {
    padding-top: 0px !important;
    position: relative;
    width: 552.5px;
    height: 657px;
    object-fit: contain;
    position: absolute;
    color: #ffffff;
    padding-left: 45px;
    .logo-img {
      width: 177.4px !important;
      height: 42px !important;
      // padding: 25px;
      // padding-left: 46px;
    }
    .image-content {
      font-size: 15px !important;
      position: absolute;
      top: 150px !important;
      left: 80px !important;
      line-height: 23px !important;
      letter-spacing: normal;
      color: #ffffff !important;
      width: 295px !important;
      height: 56px !important;
    }
  }
}
  .right-section {
    width: 100%;
    .login-control-btn {
      float: right;
      width: 52.5px;
      height: 32.5px;
      border-radius: 5px;
      background-color: #171937;
      padding-left: 8px;
      font-family: ProductSans;
      font-size: 12px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      top: -48px;
      left: 50px;
    }
    .form-container {
      margin-top: 68px;
      padding-top: 70px;
      .sign-In-form {
        margin-top: 63px !important;
        .signUpInput {
            width:100%;
        }
        .heding {
          font-weight: bold;
          font-size: 20px;
          padding-bottom: 10px;
          padding-left: 50px;
          font-family: sans-serif;
        }
        .content-info2 {
          padding-top: 21px;
          font-size: 12px !important;
          font-family: sans-serif !important;
          padding-left: 46px !important;
        }
        select{
          box-shadow: rgb(218, 218, 218) 0px 0px 3px;
          // font-weight: bold;
          // font-size: 15px;
          // height: 34px;
          background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right;
          -webkit-appearance: none;
          background-color: white;
          background-position-x: 293px;
          background-size: 12px auto;
        }
      }
    }
  }
  .input-rectangle{
    width: 332px;
    height: 40.5px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border: solid 0.5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  .full-name{
      opacity: 0.5;
      font-family: Montserrat;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: #171937;
  }
  .rectangle-btn{
      width: 302px;
      height: 40.5px;
      border-radius: 5px;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 5px 0 rgba(0, 0, 0, 0.15);
      background-color: #586df7;
  }
  .next{
      font-family: Montserrat;
      font-size: 12px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
  }
  .By-signing-up-you-ag {
    margin-top:20px;
    padding-left: 30px;
  width: 260.5px;
  height: 12px;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #171937;
  
}
.By-signing-up-you-ag .text-style{
  font-weight: 600;
}

  // .rectangle {
  //   width: 100.5px;
  //   height: 32.5px;
  //   border-radius: 5px;
  //   border: solid 0.5px rgba(0, 0, 0, 0.1);
  //   background-color: #f4f4f4;
  // }
